/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	color-scheme: light dark;
	--color-text: #111;
	--color-background: #f7efe3;
	--marineblauw: #0a3140;
	--rood: #d3104c;
	--wit: #ffffff;
	--grijs: #696969;
	--oranje: #ff8527;
	--rodehover: #680a26;
}

/* @media (prefers-color-scheme: dark) {
	:root {
	  --textkleur:#f2f2f2;
	  --wit:#0c0c12;
	  --lichtblauw:#4bbce0;
	  --superlichtblauw:#0b1c27;
	  --donkerblauw:#7aa3ff;
	  --footerEerste:#0e2d38;
	  --footerTweede:#1a3b18;
	  --geel:#e0a50c;
	  --textdonkerblauw:#9bb9ff;
	  --achtergronddonkerblauw:#0a0830;
	  --grijs:#bfbfbf;
	  --oranje: #ff8527;
	}
  }  */

  a:focus {
	border: var(--oranje) 4px solid;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'PoppinsItalic';
	src: url('../fonts/poppins-v20-latin-300italic.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'PoppinsLatin';
	src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'PoppinsBold';
	src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

header {

	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	top: 0;
	z-index: 100;
}

/**************/
/* HAMBURGER MENU */
/**************/
nav ul li {
	margin: 20%;
	text-transform: uppercase;
	list-style-type: none;
	content: "▾";

}

nav ul li a {
	color: var(--grijs);
	text-decoration: none;
	font-style: bold;
	font-size: 1.5rem;
}

header>button {
	order: -1;
}

nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	translate: -100%;
	transition: 0.2s;
	background-color: white;
	/* z-index: 1000; */
}

/* als menu open is */
nav.is-open {
	translate: 0%;
}

@media (min-width:38em) {
	header>button {

		display: none;

	}

	nav {

		position: static;
		translate: 0;

		background: none;
	}

	nav button {

		display: none;

	}

	nav ul {

		display: flex;
		gap: 1em;

	}

	nav a {
		font-family: 'PoppinsBold', sans-serif;
		font-size: 2em;
		border: none;
		flex-direction: column;
	}

	header>a:last-of-type {

		flex-direction: column;

	}
}



/****************************************************************/
/* styling voor de header als de browser minimaal 57em breed is */
/****************************************************************/
@media (min-width:57em) {

	header>a:last-of-type,
	nav a {
		font-family: 'PoppinsBold', sans-serif;
		font-size: 2em;
		color: var(--rood);
		flex-direction: row;
		background-color: var(--color-whitefont);
	}
}

/*  
main section h2 {
	position: relative;
	
  }
  
main section h2 {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	
  }
*/

body {
	background-color: var(--color-background);
}

a:focus {
	border: var(--oranje) 4px solid;
}

h1 {
	border: white;
	border-radius: 0.5em;
	font-family: 'PoppinsBold', sans-serif;
	position: absolute;
	width: 0.0625em;
	height: 0.0625em;
	overflow: hidden;
	clip: rect(0 0 0 0);
	white-space: nowrap;
	border: 0;
	margin: 0;
	padding: 0;
}

footer {
	background-color: var(--wit);
	margin: 0;
	padding: 0;
	text-decoration: none;
	width: 100%;
}

footer, ul:nth-of-type(3) li, a {
	text-decoration: none;
	list-style-type: none;
}

footer>ul li a {
	display: flex;
	justify-content: space-between;
}
